.App {
  align-items: center;
  text-align: center;
 

}

.FilmReleaseList{
  background-color: lightblue;
  text-align: left;

}

.FilmRelease {
  background-color: lightcyan;

}

.UpcomingRelease{
  border: 2px dashed darkblue;
  background-color: lightcyan;

}

.FilmBox{
  align-items: center;
  width: 600px;
  background-color: lightblue;
  border: 3px solid lightskyblue;
  

}